<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">

    <title>Support centre</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/css/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="/css/bootstrap-editor.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/>

</head>
<body>

<!-- NavBar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Support centre" src="/img/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar"> <!--id="bs-example-navbar-collapse-1">-->
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Main</a></li>

            </ul>
            <form id="#form_search" method="post" action="/search" class="navbar-form navbar-left">
                <div class="input-group">
                    <input id="search" type="text" name="pattern" class="form-control" style="margin-top:6px"
                           placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#httpServletRequest.remoteUser ne null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"
                       th:utext="|${#httpServletRequest.remoteUser} <span class=&quot;caret&quot;></span>|">Username
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="text-align-right" href="/admin">Admin panel</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input class="submitToURL text-align-right" type="submit" value="Sign Out"/>
                            </form>
                        </li>
                    </ul>
                </li>
                <li th:if="${#httpServletRequest.remoteUser eq null}">
                    <a href="/login">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page -->
<div class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left">

        <!-- Left sidebar -->
        <div class="sidebar" id="sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/admin">Overview <span class="sr-only">(current)</span></a></li>
                <li><a role="button" data-toggle="collapse" href="#collapseDepartments"
                       aria-expanded="false" aria-controls="collapseDepartments">Departments <span class="caret"></span></a>
                </li>
                <div class="collapse in" id="collapseDepartments">
                    <ul class="nav nav-sidebar-child">
                        <li><a href="/admin/departments"><b>All departments</b></a></li>
                        <li><a th:each="d : ${departments}"
                               href="#" th:href="@{|/admin/department/${d.slug}|}"
                               th:text="${d.name} ">Department</a></li>
                    </ul>
                </div>
                <li><a href="/admin/issues">Issues</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/users">Users</a></li>
            </ul>
            <form method="post" action="/search">
                <div class="input-group col-sm-10 col-sm-offset-1">
                    <input type="text" name="pattern" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <!-- Content -->
        <div class="col-sm-offset-3 col-md-offset-2 col-xs-12 col-sm-9 col-md-10 " style="margin-top: 55px">
            <!-- Main content -->
            <p class="pull-left visible-xs">
                <button type="button" class="btn btn-primary btn-xs"
                        data-toggle="offcanvas" style="margin:0px"><span
                        class="glyphicon glyphicon-option-vertical"></span></button>
            </p>
            <div class="col-lg-8 col-md-10">
                <p class="pull-right">
                    <a class="label label-primary"
                       th:href="'/admin/department/'+${issue.department.slug}"
                       th:text="${issue.department.name}">Department name</a>
                </p>
                <h2 class="sub-header" th:utext="|${issue.name} |">Issue name</h2>
                <form id="wysiwyg-form" method="post" th:action="|/admin/issue/edit/|+${issue.id}"
                      action="/admin/issue/edit/42" class="well-sm">
                    <div class="form-group">
                        <label for="input_issue_name" class="control-label">Name</label>
                        <input id="input_issue_name" type="text" class="form-control"
                               name="issueName" th:value="${issue.name}">
                    </div>
                    <div class="form-group">
                        <label for="input_issue_id" class="control-label">Issue ID</label>
                        <input id="input_issue_id" type="text" class="form-control"
                               name="issueId" th:value="${issue.id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="input_parent_id" class="control-label">Parent ID</label>
                        <input id="input_parent_id" type="text" class="form-control"
                               name="parentId" value="0" th:value="${issue.pid}">
                    </div>
                    <div class="form-group">
                        <label for="editor" class="control-label">Issue content</label>
                        <div id="editor-toolbar" class="btn-toolbar"
                             data-role="editor-toolbar" data-target="#editor">
                        </div>
                        <div id="alerts"></div>
                        <div id="editor" th:utext="${issue.content}">
                            Issue content.
                        </div>
                        <textarea hidden name='issueContent' id='wysiwyg-input'></textarea>
                        <textarea hidden name='issueDepartmentSlug' th:value="${issue.department.slug}"></textarea>

                        <a class="btn btn-primary jumbo" href="#!"
                           id="submit" title="Save changes (Ctrl/Cmd+Enter)">Save</a>
                        <a class="btn btn-default" target="_blank"
                           th:href="'/issue/'+${issue.id}">Open page</a>
                        <a th:href="'/admin/issue/remove/'+${issue.id}"
                           href="#" type="button" class="btn btn-default pull-right">Remove</a>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>

            <div class="col-lg-4 well-sm">
                <h3 class="sub-header">Child issues
                    <a th:href="'/admin/issue/add?departmentID='+${issue.department.id}+'&parentID='+${issue.id}"
                       href="#" type="button" style="margin: 0px"
                       class="btn btn-default btn-sm">Add child issue</a>
                </h3>
                <p th:if="${#maps.isEmpty(issueChildsMap)}">
                    No child issues.
                </p>
                <div th:if="not ${#maps.isEmpty(issueChildsMap)}" class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Issue Name</th>
                            <th>Child issues</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i,counter:${issueChildsMap}">
                            <td th:text="${counter.count}">1</td>
                            <td><a th:href="'/admin/issue/'+${i.key.id}" th:text="${i.key.name}">Name</a></td>
                            <td th:text="${i.value}">22</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <h3 class="sub-header">Parent issues</h3>
                <ol class="breadcrumb hidden-xs" th:if="not ${#lists.isEmpty(parentList)}">
                    <li th:each="p : ${parentList}"><a href="#" th:href="@{'/admin/issue/'+${p.id}}"
                                                       th:text="${p.name}">Parent issue</a></li>
                </ol>
                <p th:if="${#lists.isEmpty(parentList)}">
                    No parent issues.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        Powered by <a target="_blank" href="https://www.fb.com/g.galantsev">George Galantsev</a>.
    </div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.hotkeys.js"></script>
<script src="/js/bootstrap-editor.js"></script>
<script src="/js/lib.js"></script>

</body>
</html>
